



<!-- <link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog.css">
<link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog-theme-default.css">
<script src="node_modules/ng-dialog/js/ngDialog.js"></script> -->



<!-- 
<script type="text/ng-template" id="debug.html">
  
  <meta charset="UTF-8">
  <div class="modal-header">
      <h4 class="modal-title">删除</h4>
  </div>
   
  <div class="modal-body">
      <form autocomplete="off" class="file-brief file-brief-show form-validation" name="ObsForm" id="form-new-style">
          <div class="col-sm-12 m-t-xs m-b-xs ">
              <div class="form-group">
                  <label>您确认要删除吗?</label>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn" ng-click="confirm()" >确定</button>
      <button type="button" class="btn" ng-click="cancel()">取消</button>
  </div>
  
  
  





 
</script> -->


<!-- 
<script>
 ngDialog.open({
    template: 'debug.html',
    className: 'ngdialog-theme-default',
    controller: function ($scope) {
       $scope.show = function () {
            $scope.closeThisDialog(); //关闭弹窗
       };
       $scope.其他函数 = function () {

       }
    }
  });
</script> -->