
<link rel="stylesheet" href="css/ngDialog-theme-default.css"/>
<link rel="stylesheet" href="css/ngDialog-theme-plain.css"/>
<link rel="stylesheet" href="css/ngDialog.min.css"/>

<code class="language-html"><script src="js/ngDialog.min.js"></script></code>  

<script type="text/ng-template" id="first.html">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">头部</h4>
    </div>
    <div class="modal-body">
          body
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancle()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="another()">确认</button>
    </div>
</script>
